<h2><%= @job.name %></h2>
<div class="center">
  <div class="jobs">
    Description: <%= @job.description %><br />
    Origin: <%= @job.origin %><br />
    Destination: <%= @job.destination %><br />
    Cost: $<%= @job.cost %><br />
    Amount of Containers: <%= @job.amtcontainers %><br />
    Boats Assigned to Job: <br>
    <% @job.boats.each do |b| %>
      <%= b.name %><br />
    <% end %>
    <h3> Boats </h3>
    <% @boats.each do |boat| %>
      Name: <%= boat.name %><br />
      Amount of Containers: <%= boat.amtcontainers %><br />
      Location: <%= boat.location %><br />
      <%= link_to "Add Boat", "/jobs/#{@job.id}/boats/#{boat.id}", method: :post, class: "linkbutt" %>
      <br>
    <% end %>
  </div>
</div>
