<h2><%= @job.name %></h2>
<div class="center">
  <div class="jobs">
    Description: <%= @job.description %><br />
    Origin: <%= @job.origin %><br />
    Destination: <%= @job.destination %><br />
    Cost: $<%= @job.cost %><br />
    Amount of Containers: <%= @job.amtcontainers %><br />
    <div class="boatassignment">
      Boats Assigned to Job:
    </div>
    <div id="allboatnames">
      <% @job.boats.each do |b| %>
        <%= b.name %><br>
      <% end %>
      <div id="boatname">
      </div>
    </div>
    <h3> Boats </h3>
    <% @boats.each do |boat| %>
      <%= image_tag boat.avatar.url(:thumb) %><br />
      Name: <%= boat.name %><br />
      Amount of Containers: <%= boat.amtcontainers %><br />
      Location: <%= boat.location %><br />
      <% if BoatJob.exists?(job_id: @job.id, boat_id: boat.id) %>
        <%= link_to "Remove Boat", "/jobs/#{@job.id}/boats/#{boat.id}", method: :delete, class: "linkbutt", id:"deleteboat#{boat.id}" %>
        <br>
      <% else %>
      <div id="newlink<%=boat.id%>">

      </div>
        <%= link_to "Add Boat", "/jobs/#{@job.id}/boats/#{boat.id}", method: :post, remote: true, class: "linkbutt", id:"addboat#{boat.id}" %>
        <br>
      <% end %>
    <% end %>

    <div id="one">
      wwwww
    </div>
  </div>
</div>
