<h2><%= @job.name %></h2>
<div class="center">
  <div class="jobs">
    Description: <%= @job.description %><br />
    Origin: <%= @job.origin %><br />
    Destination: <%= @job.destination %><br />
    Cost: $<%= @job.cost %><br />
    Amount of Containers: <%= @job.amtcontainers %><br />
    <div class="boatassignment">
      Boats Assigned to Job:
    </div>
    <div id="boatname">
      <% @job.boats.each do |b| %>
      <div class="">
        <%= b.name %>
      </div>
      <% end %>
    </div>
    <h3> Boats </h3>
    <% @boats.each do |boat| %>
      <%= image_tag boat.avatar.url(:thumb) %><br />
      Name: <%= boat.name %><br />
      Amount of Containers: <%= boat.amtcontainers %><br />
      Location: <%= boat.location %><br />
    
      <%= link_to "Remove Boat", "/jobs/#{@job.id}/boats/#{boat.id}", method: :delete, class: "linkbutt" %>
      <%= link_to "Add Boat", "/jobs/#{@job.id}/boats/#{boat.id}", method: :post, remote: true, class: "linkbutt" %>
      <br>
    <% end %>
  </div>
</div>
