<div class="center">
  <%= form_for @boat, :url => boats_path, :html => { :multipart => true }  do |f| %>
  <div class="">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="">
    <%= f.label :amtcontainers, "Amount of Containers Boat can Ship" %><br />
    <%= f.number_field :amtcontainers %>
  </div>
  <div class="">
    <%= f.label :location %><br />
    <%= f.select :location, ["New York", "Shanghai", "Barcelona", "Amsterdam", "Le Havre", "Sydney", "Buenos Aires", "Veracruz"] %>
  </div>
  <%= f.file_field :avatar %><br />
  <%= f.submit %>
  <% end %>
</div>
