<h2>Edit Boat</h2>
<%= render "errors" %>
<div class="center">
  <%= form_for @boat do |f| %>
  <div class="">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="">
    <%= f.label :amtcontainers, "Amount of Containers Boat can Ship" %><br />
    <%= f.number_field :amtcontainers %>
  </div>
  <div class="">
    <%= f.label :location %><br />
    <%= f.select :location, ["New York", "Shanghai", "Barcelona", "Amsterdam", "Le Havre", "Sydney", "Buenos Aires", "Veracruz"] %>
  </div>
  <%= f.file_field :avatar %><br />
  <%= f.submit %>
  <% end %>
</div>


<div class="center">
  <%= link_to "Delete Boat", boat_path(@boat), method: :delete, class: "linkbutt" %>
</div>
