<h2>All Boats</h2>
<div class="center">
  <div class="boats">
    <% @boats.each do |boat| %>
    <%= image_tag boat.avatar.url(:thumb) %><br />
    Name: <%= boat.name %><br />
    Containers: <%= boat.amtcontainers %><br />
    Location: <%= boat.location %><br />
    <%= link_to "Edit Boat", edit_boat_path(boat.id), class: "linkbutt" %>
    <hr>
    <% end %>
  </div>
</div>
